/* start css stylesheet using bootstrap too so avoid using !important in your css style custom*/

body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
    background-color: #191919;
    color:white;

}

/* FOR DEBUGIN PURPUSE */
/* body * { border: 1px solid red; } */
/* add a border to all other elements on the page */
/* body * { outline: 1px solid red; } */
/* Alternate: add an outline  to all elements on the page. Won't effect box model */



h2, h3 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    align-self: center;
}

h1 {
  /* font-family: 'Boogaloo', cursive; */
  font-family:'Caveat','Allerta Stencil', 'Wendy One',   sans-serif;
}


header img{
 align-self: left;
 border-radius: 80%;
 width:50%;
 }


/*PRIMARY NAVIGATION BAR customized  */
#collapsibleNavbar a {
  padding: 0 2em;
}
/* main content */

/* Video */
.video1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:1em;

}
.content-col {
  padding-top: 2em;
}
.content-col p {
 padding-top:1em;
}
/* Form togle errors */
.hide{
  display:none;
}
#er-fname, #er-surname, #er-email, #er-city
,#er-pwd1, #er-pwd2 {
  color: red;
}

footer {
    background-image: linear-gradient(to left, rgba(200,200,255,1), rgba(0,0,0,1));
}
